@media screen and (max-width: 480px) {
  #canvas {
    font-size: 16px;
    background-color: black;
  }
}

#canvas {
  background-image: url("./img/bg_3.jpg");
  background-size: cover;
}

h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-family: "Karla", sans-serif;
  margin: 20px 40px;
}

h2 {
  font-style: regular;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  margin: 10px 5px;
  color: rgb(0, 0, 0);
}

h3,
li {
  font-weight: bold;
  font-style: regular;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  margin: 20px 40px;
  padding: 10px, 20px;
}

p {
  font-style: regular;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  margin: 10px 5px;
}

#border_section {
  background-color: rgba(255, 255, 255, 0.5);
  background-position: right;
  background-size: 100%;
  margin: 20px 40px;
  padding: 20px, 30px;
  font-family: "Lato", sans-serif;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  padding: 20px, 30px;
  margin: 20px 40px;
}

div {
  padding: 20px, 30px;
  margin: 20px 40px;
}

#myProfilePic {
  width: 200px;
  margin: 20px 40px;
  border-radius: 5%;
}

a {
  margin: 10px 5px;
}

.icons {
  margin: 10px 5px;
}

#main_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#center_section {
  padding: 10px;
  align-self: center;
  justify-content: center;
}

#icons {
  display: flex;
  flex-direction: column;
}
